---
http_interactions:
- request:
    method: get
    uri: http://proyectocolibri.es/api/v1/party?name=AMAIUR
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Location:
      - http://proyectocolibri.es/api/v1/party/?name=AMAIUR
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Nov 2013 16:32:21 GMT
- request:
    method: get
    uri: http://proyectocolibri.es/api/v1/party/?name=AMAIUR
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"id": 2, "logo": "/wc/visualizarLogo%3FcodParl%3D340",
        "name": "AMAIUR", "resource_uri": "/api/v1/party/2/", "validate": true, "web":
        null}]}'
  recorded_at: Wed, 13 Nov 2013 16:32:21 GMT
- request:
    method: get
    uri: http://proyectocolibri.es/api/v1/party/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Location:
      - http://proyectocolibri.es/api/v1/party/1/
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Nov 2013 16:32:22 GMT
- request:
    method: get
    uri: http://proyectocolibri.es/api/v1/party/1/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id": 1, "logo": "/wc/visualizarLogo%3FcodParl%3D171", "name": "PP",
        "resource_uri": "/api/v1/party/1/", "validate": true, "web": null}'
  recorded_at: Wed, 13 Nov 2013 16:32:22 GMT
recorded_with: VCR 2.7.0
