---
http_interactions:
- request:
    method: get
    uri: http://proyectocolibri.es/api/v1/session/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Location:
      - http://proyectocolibri.es/api/v1/session/1/
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 29 Nov 2013 18:09:34 GMT
- request:
    method: get
    uri: http://proyectocolibri.es/api/v1/session/1/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"date": "2013-05-30", "id": 1, "resource_uri": "/api/v1/session/1/",
        "session": 111, "votings": ["/api/v1/voting_full/1/", "/api/v1/voting_full/5/",
        "/api/v1/voting_full/8/", "/api/v1/voting_full/7/", "/api/v1/voting_full/6/",
        "/api/v1/voting_full/4/", "/api/v1/voting_full/3/", "/api/v1/voting_full/2/"]}'
  recorded_at: Fri, 29 Nov 2013 18:09:34 GMT
- request:
    method: get
    uri: http://proyectocolibri.es/api/v1/session?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Location:
      - http://proyectocolibri.es/api/v1/session/
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 29 Nov 2013 18:09:34 GMT
- request:
    method: get
    uri: http://proyectocolibri.es/api/v1/session/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": "/api/v1/session/?limit=20&offset=20",
        "offset": 0, "previous": null, "total_count": 97}, "objects": [{"date": "2012-02-09",
        "id": 69, "resource_uri": "/api/v1/session/69/", "session": 7, "votings":
        ["/api/v1/voting_full/1343/", "/api/v1/voting_full/1344/"]}, {"date": "2013-07-16",
        "id": 82, "resource_uri": "/api/v1/session/82/", "session": 122, "votings":
        ["/api/v1/voting_full/1936/", "/api/v1/voting_full/1935/"]}, {"date": "2013-06-20",
        "id": 75, "resource_uri": "/api/v1/session/75/", "session": 117, "votings":
        ["/api/v1/voting_full/1901/", "/a[...]
- request:
    method: get
    uri: http://proyectocolibri.es/api/v1/session?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Location:
      - http://proyectocolibri.es/api/v1/session/?limit=10
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 29 Nov 2013 18:09:36 GMT
- request:
    method: get
    uri: http://proyectocolibri.es/api/v1/session/?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 10, "next": "/api/v1/session/?limit=10&offset=10",
        "offset": 0, "previous": null, "total_count": 97}, "objects": [{"date": "2012-02-09",
   [...]
